#!/bin/bash
# {{ template "scripts-library" }}
function is_apt_pkg_installed() {
  local package="$1"

  apt list --quiet --quiet --installed "${package}" 2>/dev/null | grep --quiet .

}

readonly unwanted_packages=(
  docker
)

for package in "${unwanted_packages[@]}"; do
  if is_apt_pkg_installed "${package}"; then
    log_task "Removing unwanted package '${package}' installed with APT"
    c apt remove --yes -qq -o=Dpkg::Use-Pty=0 "${package}"
  fi
done
