#!/bin/bash
# {{ template "scripts-library" }}
log_task "95. Restarting Docker daemon"

# daemon.json hash: {{ include "/etc/docker/daemon.json" | sha256sum }}
"${HOME}/.local/bin/restart-docker-daemon"
