# {{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
# {{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}
# {{- $ubuntu := hasKey .chezmoi.osRelease "ubuntuCodename" -}}
# {{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
# {{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
# {{- $gnome := lookPath "gnome-shell" | not | not -}}

# {{- $cpuCores := 1 -}}
# {{- $cpuThreads := 1 -}}
# {{- if eq .chezmoi.os "darwin" -}}
# {{-   $cpuCores = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi -}}
# {{-   $cpuThreads = (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi -}}
# {{- else if eq .chezmoi.os "linux" -}}
# {{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi -}}
# {{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi -}}
# {{- else if eq .chezmoi.os "windows" -}}
# {{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi -}}
# {{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi -}}
# {{- end -}}

# {{- $name:= or (env "USER_FULLNAME") "Your Name" -}}
# {{- $email:= or (env "USER_EMAIL") "your_email@your.domain.com" -}}
# {{- $hostname := or (env "SYSTEM_HOSTNAME") .chezmoi.hostname -}}
# {{- $dotdrop_user_profile := or (env "DOTDROP_USER_PROFILE") "user" -}}
# {{- $github_username := env "GITHUB_USERNAME" -}}
# {{- $workspace_location := or (env "WORKSPACE_LOCATION") .chezmoi.homeDir -}}
# {{- $apply_rootmoi := true -}}
# {{- if eq (env "APPLY_ROOTMOI") "false" "False" "FALSE" "0" -}}
# {{-   $apply_rootmoi = false -}}
# {{- end -}}
# {{- $use_dotdrop := false -}}
# {{- if eq (env "DOTFILES_USE_DOTDROP") "true" "True" "TRUE" "1" -}}
# {{-   $use_dotdrop = true -}}
# {{- end -}}
# {{- $use_1password := false -}}
# {{- if eq (env "DOTFILES_USE_1PASSWORD") "true" "True" "TRUE" "1" -}}
# {{-   $use_1password = true -}}
# {{- end -}}
# {{- $use_vault := false -}}
# {{- if eq (env "DOTFILES_USE_VAULT") "true" "True" "TRUE" "1" -}}
# {{-   $use_vault = true -}}
# {{- end -}}
# {{- $use_microk8s := false -}}
# {{- if eq (env "DOTFILES_USE_MICROK8S") "true" "True" "TRUE" "1" -}}
# {{-   $use_microk8s = true -}}
# {{- end -}}
# {{- $verbose := false -}}
# {{- if eq (env "DOTFILES_VERBOSE") "true" "True" "TRUE" "1" -}}
# {{-   $verbose = true -}}
# {{- end -}}
# {{- $gpg_key_id := env "GPG_KEY_ID" -}}

# {{- writeToStdout "---\n" -}}
# {{- writeToStdout "🖥️  Information found from your environment:\n\n" -}}
# {{- writeToStdout (printf "👤  Name: %s\n" $name) -}}
# {{- writeToStdout (printf "📧  Email: %s\n" $email) -}}
# {{- writeToStdout (printf "🏠  Hostname: %s\n" $hostname) -}}
# {{- writeToStdout (printf "🐙  GitHub username: %s\n" $github_username) -}}
# {{- writeToStdout (printf "📁  Workspace location: %s\n" $workspace_location) -}}
# {{- if and (eq .chezmoi.os "linux") -}}
# {{- writeToStdout (printf "🦸  Apply rootmoi: %t\n" $apply_rootmoi) -}}
# {{- end -}}
# {{- writeToStdout (printf "📦  Use dotdrop: %t\n" $use_dotdrop) -}}
# {{- writeToStdout (printf "🔑  Use 1password: %t\n" $use_1password) -}}
# {{- writeToStdout (printf "🔐  Use vault: %t\n" $use_vault) -}}
# {{- writeToStdout (printf "🚀  Use microk8s: %t\n" $use_microk8s) -}}
# {{- writeToStdout (printf "🔬  Verbose: %t\n" $verbose) -}}
# {{- writeToStdout "---\n" -}}

# {{- $docker_username := "" -}}
# {{- $github_token := "" -}}
# {{- $dotdrop_repo := "" -}}
# {{- $dockerfiles_repo := "https://github.com/entelecheia/dockerfiles.git" -}}
# {{- $ssh_algorithm := "ed25519" -}}
# {{- $workspace_name := "workspace" -}}
# {{- $workspace_root := joinPath .chezmoi.homeDir $workspace_name -}}
# {{- $symlink_colab_workspace := false -}}
# {{- $symlink_to_home := true -}}
# {{- $gpg_key_id := "" -}}
# {{- $gpg_passphrase := "" -}}
# {{- $gpg_gitsign := false -}}
# {{- $sudoer := true -}}
# {{- $github_clones := "" -}}
# {{- $auto_update := false -}}

# {{- $minimum := or $devcontainer ($ubuntu | not) -}}
# {{- if and (hasKey . "system") (hasKey .system "minimum") -}}
# {{-   $minimum = .system.minimum -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to install in minimum mode (see README)" -}}
# {{-   $minimum = promptBool $question $minimum -}}
# {{-   if $minimum -}}
# {{-     writeToStdout "✅ Minimum mode enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Minimum mode disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "auto_update") -}}
# {{-   $auto_update = .system.auto_update -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to update dotfiles automatically" -}}
# {{-   $auto_update = promptBool $question $auto_update -}}
# {{-   if $auto_update -}}
# {{-     writeToStdout "✅ Auto update enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Auto update disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "verbose") -}}
# {{-   $verbose = .system.verbose -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to enable verbose mode" -}}
# {{-   $verbose = promptBool $question $verbose -}}
# {{-   if $verbose -}}
# {{-     writeToStdout "✅ Verbose mode enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Verbose mode disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "is_sudoer") -}}
# {{-   $sudoer = .system.is_sudoer -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you have sudo privileges" -}}
# {{-   $sudoer = promptBool $question $sudoer -}}
# {{-   if $sudoer -}}
# {{-     writeToStdout "✅ Sudo privileges enabled\n" -}}
# {{-   else -}}
# {{-     $apply_rootmoi := false -}}
# {{-     writeToStdout "✅ Sudo privileges disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if eq .chezmoi.os "darwin" -}}
# {{-   $apply_rootmoi := false -}}
# {{- else if $sudoer -}}
# {{-   if and (hasKey . "system") (hasKey .system "apply_rootmoi") -}}
# {{-       $apply_rootmoi = .system.apply_rootmoi -}}
# {{-   end -}}
# {{-   if $interactive -}}
# {{-       $question := "❔ Do you want to install dotfiles for the root user" -}}
# {{-       $apply_rootmoi = promptBool $question $apply_rootmoi -}}
# {{-       if $apply_rootmoi -}}
# {{-           writeToStdout "✅ Dotfiles will be installed for the root user\n" -}}
# {{-       else -}}
# {{-           writeToStdout "✅ Dotfiles will not be installed for the root user\n" -}}
# {{-       end -}}
# {{-   end -}}
# {{- else -}}
# {{-   $apply_rootmoi := false -}}
# {{-   if $interactive -}}
# {{-       writeToStdout "✅ Dotfiles will not be installed for the root user\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "use_1password") -}}
# {{-   $use_1password = .system.use_1password -}}
# {{- end -}}
# {{- if and $interactive $sudoer -}}
# {{-   $question := "❔ Do you want to use 1password for secrets" -}}
# {{-   $use_1password = promptBool $question $use_1password -}}
# {{-   if $use_1password -}}
# {{-     writeToStdout "✅ 1password enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ 1password disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "use_vault") -}}
# {{-   $use_vault = .system.use_vault -}}
# {{- end -}}
# {{- if and $interactive $sudoer -}}
# {{-   $question := "❔ Do you want to use vault for secrets" -}}
# {{-   $use_vault = promptBool $question $use_vault -}}
# {{-   if $use_vault -}}
# {{-     writeToStdout "✅ Vault enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Vault disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "use_microk8s") -}}
# {{-   $use_microk8s = .system.use_microk8s -}}
# {{- end -}}
# {{- if and $interactive $sudoer -}}
# {{-   $question := "❔ Do you want to use MicroK8s for Kubernetes" -}}
# {{-   $use_microk8s = promptBool $question $use_microk8s -}}
# {{-   if $use_microk8s -}}
# {{-     writeToStdout "✅ MicroK8s enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ MicroK8s disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if hasKey . "name" -}}
# {{-   $name = .name -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is your full name" -}}
# {{-     $answer := "" -}}
# {{-     if $name -}}
# {{-       $answer = promptString $question $name -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     if regexMatch "^[A-Z][-' a-zA-Z]+$" $answer -}}
# {{-       $name = $answer -}}
# {{-       writeToStdout (printf "✅ Name set as '%s'\n" $name) -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid name\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "github") (hasKey .github "username") -}}
# {{-   $github_username = .github.username -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What is your GitHub username" -}}
# {{-   $answer := "" -}}
# {{-   if $github_username -}}
# {{-     $answer = promptString $question $github_username -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $github_username = $answer -}}
# {{-   writeToStdout (printf "✅ GitHub username set as '%s'\n" $github_username) -}}
# {{- end -}}

# {{- if and (hasKey . "docker") (hasKey .docker "username") -}}
# {{-   $docker_username = .docker.username -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What is your Docker username" -}}
# {{-   $answer := "" -}}
# {{-   if $docker_username -}}
# {{-     $answer = promptString $question $docker_username -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $docker_username = $answer -}}
# {{-   writeToStdout (printf "✅ Docker username set as '%s'\n" $docker_username) -}}
# {{- end -}}

# {{- if hasKey . "email" -}}
# {{-   $email = .email -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is your email" -}}
# {{-     $answer := "" -}}
# {{-     if $email -}}
# {{-       $answer = promptString $question $email -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     $answer = lower $answer -}}
# {{-     if regexMatch "^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$" $answer -}}
# {{-       $email = $answer -}}
# {{-       writeToStdout (printf "✅ Email set as '%s'\n" $email) -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid email\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "use_dotdrop") -}}
# {{-   $use_dotdrop = .system.use_dotdrop -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to use dotdrop to manage your private dotfiles" -}}
# {{-   $use_dotdrop = promptBool $question $use_dotdrop -}}
# {{-   if $use_dotdrop -}}
# {{-     writeToStdout "✅ Dotdrop enabled\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Dotdrop disabled\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "dotdrop") (hasKey .dotdrop "repo") -}}
# {{-   $dotdrop_repo = .dotdrop.repo -}}
# {{- end -}}
# {{- if and $interactive $use_dotdrop -}}
# {{-   $question := "❔ What is your dotdrop files repository URL (use your repo by forking https://github.com/entelecheia/dotdrop-files.git)" -}}
# {{-   $answer := "" -}}
# {{-   if $dotdrop_repo -}}
# {{-     $answer = promptString $question $dotdrop_repo -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $dotdrop_repo = $answer -}}
# {{-   $use_dotdrop = $answer | not | not -}}
# {{-   writeToStdout (printf "✅ dotdrop files repo set as '%s'\n" $dotdrop_repo) -}}
# {{- end -}}

# {{- if and (hasKey . "dotdrop") (hasKey .dotdrop "user_profile") -}}
# {{-   $dotdrop_user_profile = .dotdrop.user_profile -}}
# {{- end -}}
# {{- if and $interactive $use_dotdrop -}}
# {{-   $question := "❔ What is your dotdrop user profile (ex: hostname)" -}}
# {{-   $answer := "" -}}
# {{-   if $dotdrop_user_profile -}}
# {{-     $answer = promptString $question $dotdrop_user_profile -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $dotdrop_user_profile = $answer -}}
# {{-   writeToStdout (printf "✅ dotdrop user profile set as '%s'\n" $dotdrop_user_profile) -}}
# {{- end -}}

# {{- if and (hasKey . "docker") (hasKey .dotdrop "repo") -}}
# {{-   $dockerfiles_repo = .docker.repo -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What is your dockerfiles repository URL (ex: https://github.com/entelecheia/dockerfiles.git)" -}}
# {{-   $answer := "" -}}
# {{-   if $dockerfiles_repo -}}
# {{-     $answer = promptString $question $dockerfiles_repo -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $dockerfiles_repo = $answer -}}
# {{-   writeToStdout (printf "✅ dockerfiles repo set as '%s'\n" $dockerfiles_repo) -}}
# {{- end -}}

# {{- if and (hasKey . "github") (hasKey .github "clones") -}}
# {{-   $github_clones = .github.clones -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What are your GitHub repositories to clone (input as comma separated list, ex: entelecheia/devcon,entelecheia/ekorpkit)" -}}
# {{-   $answer := "" -}}
# {{-   if $github_clones -}}
# {{-     $answer = promptString $question $github_clones -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $github_clones = $answer -}}
# {{-   writeToStdout (printf "✅ GitHub repositories to clone set as '%s'\n" $github_clones) -}}
# {{- end -}}

# {{- if and (hasKey . "ssh") (hasKey .ssh "algorithm") -}}
# {{-   $ssh_algorithm = .ssh.algorithm -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Which SSH algorithm do you want to use" -}}
# {{-   $answer := "" -}}
# {{-   if $ssh_algorithm -}}
# {{-     $answer = promptString $question $ssh_algorithm -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $ssh_algorithm = $answer -}}
# {{-   writeToStdout (printf "✅ SSH algorithm set as '%s'\n" $ssh_algorithm) -}}
# {{- end -}}

# {{- if and (hasKey . "system") (hasKey .system "hostname") -}}
# {{-   $hostname = .system.hostname -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is hostname" -}}
# {{-     $answer := "" -}}
# {{-     if $hostname -}}
# {{-       $answer = promptString $question $hostname -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     if regexMatch "^[A-Za-z0-9._-]+$" $answer -}}
# {{-       $hostname = $answer -}}
# {{-       writeToStdout (printf "✅ Hostname set as '%s'\n" $hostname) -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid hostname\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}

# {{- $ssh_keyfile := printf "id_%s_%s" $ssh_algorithm $hostname -}}
# {{- if $interactive -}}
# {{-   writeToStdout (printf "✅ SSH key filename set as '%s'\n" $ssh_keyfile) -}}
# {{- end -}}

# {{- if and (hasKey . "github") (hasKey .github "token") -}}
# {{-   $github_token = .github.token -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What is GitHub Token (If not set, you will be prompted to authenticate)" -}}
# {{-   $answer := "" -}}
# {{-   if $github_token -}}
# {{-     $answer = promptString $question $github_token -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $github_token = $answer -}}
# {{-   writeToStdout (printf "✅ GitHub Token set as '%s'\n" $github_token) -}}
# {{- end -}}

# {{- if and (hasKey . "gnupg") (hasKey .gnupg "passphrase") -}}
# {{-   $gpg_passphrase = .gnupg.passphrase -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What passphrase do you want to use for your GPG key" -}}
# {{-   $answer := "" -}}
# {{-   if $gpg_passphrase -}}
# {{-     $answer = promptString $question $gpg_passphrase -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $gpg_passphrase = $answer -}}
# {{-   writeToStdout (printf "✅ GPG passphrase set as '%s'\n" $gpg_passphrase) -}}
# {{- end -}}

# {{- if and (hasKey . "gnupg") (hasKey .gnupg "gitsign") -}}
# {{-   $gpg_gitsign = .gnupg.gitsign -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to use GPG to sign git commits globally" -}}
# {{-   $gpg_gitsign = promptBool $question $gpg_gitsign -}}
# {{-   if $gpg_gitsign -}}
# {{-     writeToStdout "✅ Git commits will be signed by GPG\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Git comiits will not be signed by GPG\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and (hasKey . "workspace") (hasKey .workspace "name") -}}
# {{-   $workspace_name = .workspace.name -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ What name do you want to use as workspace root directory" -}}
# {{-   $answer := "" -}}
# {{-   if $workspace_name -}}
# {{-     $answer = promptString $question $workspace_name -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $workspace_name = $answer -}}
# {{-   if $symlink_to_home -}}
# {{-     $workspace_root := joinPath .chezmoi.homeDir $workspace_name -}}
# {{-   else -}}
# {{-     $workspace_root := joinPath $workspace_location $workspace_name -}}
# {{-   end -}}
# {{-   writeToStdout (printf "✅ Worksapce root set as '%s'\n" $workspace_root) -}}
# {{- end -}}

# {{- if ne $wsl true -}}
# {{- if and (hasKey . "workspace") (hasKey .workspace "location") -}}
# {{-   $workspace_location = .workspace.location -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Where do you want to put your workspace" -}}
# {{-   $answer := "" -}}
# {{-   if $workspace_location -}}
# {{-     $answer = promptString $question $workspace_location -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $workspace_location = $answer -}}
# {{-   writeToStdout (printf "✅ Worksapce location set as '%s'\n" $workspace_location) -}}
# {{- end -}}

# {{- if ne .chezmoi.homeDir $workspace_location -}}
# {{- if and (hasKey . "workspace") (hasKey .workspace "symlink_to_home") -}}
# {{-   $symlink_to_home = .workspace.symlink_to_home -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to symlink your workspace to home directory" -}}
# {{-   $symlink_to_home = promptBool $question $symlink_to_home -}}
# {{-   if $symlink_to_home -}}
# {{-     writeToStdout "✅ Workspace will be symlinked to home directory\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Workspace will not be symlinked to home directory\n" -}}
# {{-   end -}}
# {{- end -}}
# {{- end -}}
# {{- end -}}

# {{- if not $sudoer -}}
# {{-   $symlink_colab_workspace := false -}}
# {{-   if $interactive -}}
# {{-     writeToStdout "✅ Colab workspace will not be symlinked\n" -}}
# {{-   end -}}
# {{- else -}}
# {{- if and (hasKey . "workspace") (hasKey .workspace "symlink_colab_workspace") -}}
# {{-   $symlink_colab_workspace = .workspace.symlink_colab_workspace -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to symlink workspace to colab default google drive directory to maintain persistence across sessions" -}}
# {{-   $symlink_colab_workspace = promptBool $question $symlink_colab_workspace -}}
# {{-   if $symlink_colab_workspace -}}
# {{-     writeToStdout "✅ Colab workspace will be symlinked to workspace root\n" -}}
# {{-   else -}}
# {{-     writeToStdout "✅ Colab workspace will not be symlinked\n" -}}
# {{-   end -}}
# {{- end -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   writeToStdout "\n💡 Tip: you can always make chezmoi ask this again by running `chezmoi init` without `--force`.\n" -}}
# {{- end -}}

# {{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}} #
sourceDir: "{{ .chezmoi.workingTree }}"

verbose: {{ $verbose }}

diff:
    exclude:
        - always
status:
    exclude:
        - always

# {{- if $gpg_passphrase -}} #
encryption: gpg
gpg:
  symmetric: true
  args:
    - "--batch"
    - "--passphrase"
    - {{ $gpg_passphrase | quote }}
    - "--no-symkey-cache"
# {{- end -}}

# {{/* Here we "export" the variables, so we can access them outside this file */ -}} #
data:
    name: {{ $name | quote }}
    email: {{ $email | quote }}
    editor: "vi"
    system:
        auto_update: {{ $auto_update }}
        verbose: {{ $verbose }}
        hostname: {{ $hostname | quote }}
        is_wsl: {{ $wsl }}
        is_devcontainer: {{ $devcontainer }}
        is_minimum: {{ $minimum }}
        is_gnome: {{ $gnome }}
        is_interactive: {{ $interactive }}
        is_sudoer: {{ $sudoer }}
        apply_rootmoi: {{ and $apply_rootmoi $sudoer }}
        use_dotdrop: {{ $use_dotdrop }}
        use_1password: {{ $use_1password }}
        use_vault: {{ $use_vault }}
        use_microk8s: {{ $use_microk8s }}
        uname_arch: {{ output "uname" "-m" | trim | quote }}
        cpu:
            cores: {{ $cpuCores }}
            threads: {{ $cpuThreads }}
    ssh:
        algorithm: {{ $ssh_algorithm | quote }}
        key_filename: {{ $ssh_keyfile | quote }}
    gnupg:
        key_id: {{ $gpg_key_id | quote }}
        passphrase: {{ $gpg_passphrase | quote }}
        gitsign: {{ $gpg_gitsign }}
    github:
        username: {{ $github_username | quote }}
        token: {{ $github_token | quote }}
        clones: {{ $github_clones | quote }}
    dotdrop:
        repo: {{ $dotdrop_repo | quote }}
        user_profile: {{ $dotdrop_user_profile | quote }}
        root_profile: "root"
    docker:
        repo: {{ $dockerfiles_repo | quote }}
        username: {{ $docker_username | quote }}
    workspace:
        name: {{ $workspace_name | quote }}
        location: {{ $workspace_location | quote }}
        root: {{ $workspace_root | quote }}
        move_existing: true
        symlink_to_home: {{ $symlink_to_home }}
        symlink_colab_workspace: {{ $symlink_colab_workspace }}
        colab_drive: "/content/drive/MyDrive"
    github_repos:
# {{- if $github_clones -}}
# {{- range (split "," $github_clones) }} #
        - name: {{.}}
          url: https://github.com/{{.}}.git 
# {{ end -}} #
# {{ end -}} #
