{{- if (eq .chezmoi.os "darwin") -}}

[storage]
engine = icloud

[applications_to_sync]
iina
iterm2
macosx
raycast
vscode
xcode


[applications_to_ignore]
git
ssh
zsh
vim
mackup
bash
gnupg
asdf

{{ end -}}