#!/bin/sh
# adding chezmoi to PATH
export PATH="$HOME/.local/bin:$PATH"

##### Zsh/Oh-my-Zsh Configuration

export ZSH="$HOME/.oh-my-zsh"
# shellcheck source=/dev/null
. "$HOME/.zsh/themes/spaceship/spaceship.zsh"
# shellcheck source=/dev/null
. "$HOME/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"
# shellcheck source=/dev/null
. "$HOME/.zsh/plugins/zsh-completions/zsh-completions.plugin.zsh"

plugins=(git git-prompt)

# shellcheck source=/dev/null
. "$ZSH/oh-my-zsh.sh"
# shellcheck source=/dev/null
. "$HOME/.aliases.zsh"

##### User Configuration

# export HOST=$(uname -n)
export LANG='en_US.UTF-8'
export LANGUAGE='en_US:en'
export LC_ALL='en_US.UTF-8'
export TERM=xterm-256color
