#!/bin/sh

{{ if eq .chezmoi.os "linux" "darwin" -}}
SSH_KEY_FILE="${HOME}/.ssh/{{ .ssh.key_filename }}"
HOST={{ .chezmoi.hostname }}
USER={{ .chezmoi.username }}
ALGORITHM={{ .ssh.algorithm }}
DATESTAMP=$(date +'%y.%m.%d')
if [ ! -f ${SSH_KEY_FILE} ]; then
    ssh-keygen -t ${ALGORITHM} -C "${USER}@${HOST}" -f "${SSH_KEY_FILE}" -N ""
fi

gh config set -h github.com git_protocol ssh
gh auth login
gh ssh-key add "${SSH_KEY_FILE}.pub" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}"

{{ end -}}