version: "3"

tasks:
  default:
    deps:
      - task: task-ls

  greet:
    cmds:
      - echo $GREETING
    env:
      GREETING: Hey, there!

  task-ls:
    desc: List available tasks
    cmds:
      - task --list

  tmux-new:
    desc: Create a new tmux session
    cmds:
      - tmux new -s {{"{{.CLI_ARGS}}"}}

  tmux-ls:
    desc: List tmux sessions
    cmds:
      - tmux ls

  tmux-attach:
    desc: Attach to a tmux session
    cmds:
      - tmux attach -t {{"{{.CLI_ARGS}}"}}

  sysinfo:
    desc: Print system information
    cmds:
      - neofetch

{{- if eq .chezmoi.os "linux" }}
  restart-docker-daemon:
    desc: Restart the Docker daemon
    cmds:
      - restart-docker-daemon

  watch-nvidia-smi:
    desc: Watch nvidia-smi output every second (useful for monitoring GPU usage)
    cmds:
      - watch -n 1 nvidia-smi

  dns-status:
    desc: Check the status of the DNS resolver
    cmds:
      - resolvectl status | grep "DNS Server" -A2

  sysinfo-inxi:
    desc: Print system information using inxi
    cmds:
      - inxi -F
{{- end }}
