version: "3"

tasks:
  default:
    deps:
      - task: task-ls

  greet:
    cmds:
      - echo $GREETING
    env:
      GREETING: Hey, there!

  task-ls:
    desc: List available tasks
    cmds:
      - task --list

  tmux-new:
    desc: Create a new tmux session
    cmds:
      - tmux new -s {{"{{.CLI_ARGS}}"}}

  tmux-ls:
    desc: List tmux sessions
    cmds:
      - tmux ls

  tmux-attach:
    desc: Attach to a tmux session
    cmds:
      - tmux attach -t {{"{{.CLI_ARGS}}"}}

  sysinfo:
    desc: Print system information
    cmds:
      - neofetch

  code-tunnel:
    desc: Create a tunnel to a remote VS Code instance
    cmds:
      - code tunnel --accept-server-license-terms

  poetry-disable-virtualenvs:
    desc: Disable virtualenvs in poetry
    cmds:
      - poetry config virtualenvs.create false

  poetry-enable-virtualenvs:
    desc: Enable virtualenvs in poetry
    cmds:
      - poetry config virtualenvs.create true

  init-hyperfast-project:
    desc: Create a new project using the hyperfast template
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - copier copy --UNSAFE gh:entelecheia/hyperfast-template .

  init-hyfi-project:
    desc: Create a new project using the hyfi template
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - copier copy --UNSAFE gh:entelecheia/hyfi-template .

  init-hyperfast-python-project:
    desc: Create a new Python project using the hyperfast template
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - copier copy --UNSAFE gh:entelecheia/hyperfast-python-template .

  init-hyperfast-docker-project:
    desc: Create a new Docker project using the hyperfast template
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - copier copy --UNSAFE gh:entelecheia/hyperfast-docker-template .

  git-lfs-install:
    desc: Install Git LFS
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - git lfs install

  git-lfs-track:
    desc: Track files with Git LFS
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - git lfs track {{"{{.CLI_ARGS}}"}}

  git-lfs-track-preset:
    desc: Track files with Git LFS
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - git lfs track "*.parquet"
      - git lfs track "*.pkl"
      - git lfs track "*.pth"
      - git lfs track "*.pt"
      - git lfs track "*.tar"
      - git lfs track "*.tar.gz"
      - git lfs track "*.tgz"
      - git lfs track "*.zip"
      - git lfs track "*.zst"
      - git lfs track "*.gz"
      - git lfs track "*.ogg"
      - git lfs track "*.mp3"
      - git lfs track "*.mp4"
      - git lfs track "*.wav"
      - git lfs track "*.avi"
      - git lfs track "*.mov"
      - git lfs track "*.mkv"
      - git lfs track "*.flac"
      - git lfs track "*.xlsx"
      - git lfs track "*.xls"
      - git lfs track "*.csv"
      - git lfs track "*.tsv"
      - git lfs track "*.pdf"
      - git lfs track "*.docx"
      - git lfs track "*.doc"
      - git lfs track "*.pptx"
      - git lfs track "*.ppt"
      - git lfs track "*.hwp"

  git-lfs-migrate:
    desc: Migrate files to Git LFS
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - git lfs migrate import --everything --include={{"{{.CLI_ARGS}}"}}

{{- if .lfs_folderstore.enabled | not | not }}

  lfs-folderstore-init:
    desc: Initialize the LFS folderstore for the current Git repository
    dir: {{"'{{.USER_WORKING_DIR}}'"}}
    cmds:
      - git config --add lfs.customtransfer.lfs-folder.path "${HOME}/.local/bin/lfs-folderstore"
      - git config --add lfs.customtransfer.lfs-folder.args "{{ .lfs_folderstore.store_dir }}"
      - git config --add lfs.standalonetransferagent lfs-folder
      - git config lfs.url "https://localhost"

{{- end }}

{{- if eq .chezmoi.os "linux" }}

  restart-docker-daemon:
    desc: Restart the Docker daemon
    cmds:
      - restart-docker-daemon

  watch-nvidia-smi:
    desc: Watch nvidia-smi output every second (useful for monitoring GPU usage)
    cmds:
      - watch -n 1 nvidia-smi

  dns-status:
    desc: Check the status of the DNS resolver
    cmds:
      - resolvectl status | grep "DNS Server" -A2

  sysinfo-inxi:
    desc: Print system information using inxi
    cmds:
      - inxi -F

{{- end }}
