{{- if eq .chezmoi.os "darwin" -}}
# brew bundle --no-lock --file=~/.config/brew/brewfile.bundle --force

#####################
# Brewfile contents #
#####################

# Taps
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"

#####################
# Casks             #
#####################

cask "gpg-suite"

# Fonts
cask 'font-fira-code'
cask 'font-fira-code-nerd-font'

#########################
# Brewfile contents end #
#########################
{{- end -}}