#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ if .system.is_interactive }}
# shellcheck source=/dev/null
source "${HOME}/.local/bin/github-auth" --interactive
# {{ else }}
# shellcheck source=/dev/null
source "${HOME}/.local/bin/github-auth"
# {{ end }}

# {{ end -}}
