#!/bin/bash
# {{ if and (eq .chezmoi.os "darwin" "linux") (.system.is_sudoer) -}}

# {{ template "scripts-library" }}
# {{ template "homebrew-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library
true || source ../.chezmoitemplates/homebrew-library

# install passage if not installed
if ! command -v passage >/dev/null; then
    log_task "Installing passage"
    PASSGE_PATH="${HOME}/.local/share/passage"
    c cd "${PASSGE_PATH}" || exit 1  
# {{ if and (eq .chezmoi.os "darwin") }}
    c make install PREFIX="$(brew --cellar)/passage/$(git describe --tags)"
    c brew link passage
# {{ else if eq .chezmoi.os "linux" }}
    c sudo make install
# {{ end }}
fi

# {{ end -}}
