#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}
# {{ template "scripts-library" }}
log_task "30. Authenticating with GitHub"

GITHUB_USERNAME=${GITHUB_USERNAME:-"{{ .github.username }}"}
GITHUB_TOKEN=${GITHUB_TOKEN:-"{{ .github.token }}"}
export GITHUB_USERNAME
export GITHUB_TOKEN

ensure_path_entry "${HOME}/.local/bin"

# github-auth hash: {{ include "dot_local/bin/executable_github-auth.tmpl" | sha256sum }}
# {{ if .system.is_interactive }}
github-auth --interactive
# {{ else }}
github-auth
# {{ end }}

# {{ end -}}
