#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_minimum | not) }}
# {{ template "scripts-library" }}
# {{ $cache := dict "chezmoi" .chezmoi }}
# {{ template "read-versions-and-revisions-cache" $cache }}
log_task "25. Installing optional packages"

ensure_path_entry "${HOME}/.local/bin"

# install dotdrop if not installed
if ! command -v dotdrop >/dev/null; then
  if ! command -v pipx >/dev/null; then
    log_task "Installing dotdrop with pipx"
    c pipx install dotdrop
  else
    log_task "Install dotdrop with pip3"
    # Add ~/.local/bin to PATH in order to use dotdrop before finishing the installation
    c /usr/bin/pip3 install dotdrop --user
  fi
fi

# {{- end -}}
