#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

# Check if we have a GitHub SSH key
# If not, generate one and add it to GitHub
SSH_KEY_FILE="${HOME}/.ssh/{{ .ssh.key_filename }}"
HOST="{{ .system.hostname }}"
USER="{{ .chezmoi.username }}"
ALGORITHM="{{ .ssh.algorithm }}"
DATESTAMP=$(date +'%y.%m.%d')
if [ ! -f "${SSH_KEY_FILE}" ]; then
    log_task "Generating SSH key"
    ssh-keygen -t "${ALGORITHM}" -C "${USER}@${HOST}" -f "${SSH_KEY_FILE}" -N ""
fi

# set eviroment variable GNUPGHOME to ~/.gnupg if not set
GNUPGHOME=${GNUPGHOME:-$HOME/.gnupg}
export GNUPGHOME="${GNUPGHOME}"
KEY_ID_FILE="${GNUPGHOME}/.key_id"
KEY_ID="{{ .gnupg.key_id }}"
if [ -z "${KEY_ID}" ] && [ -f "${KEY_ID_FILE}" ]; then 
    KEY_ID=$(cat "${KEY_ID_FILE}")
fi
# if KEY_ID is not empty, check if it is a valid key ID
if [ -n "${KEY_ID}" ]; then
    KEY_ID=$(gpg --list-secret-keys --with-colons | grep 'sec' | grep "${KEY_ID}" | cut -d':' -f5)
fi
# Create a batch file
if [ -z "${KEY_ID}" ]; then
    log_task "Generating GPG key"

    # Generate a GPG key
    # https://www.gnupg.org/documentation/manuals/gnupg/Unattended-GPG-key-generation.html
    cat > gpg-batch <<EOF
        %echo Generating a basic OpenPGP key
        Key-Type: EDDSA
        Key-Length: 1024
        Key-Curve: ed25519
        Subkey-Type: ECDH
        Subkey-Curve: cv25519
        Name-Real: {{ .name }}
        Name-Comment: generated by chezmoi
        Name-Email: {{ .name }}
        Expire-Date: 0
        Passphrase: {{ .gnupg.passphrase }}
        # Do a commit here, so that we can later print "done" :-)
        %commit
        %echo done
EOF
    c gpg --batch --generate-key gpg-batch
    KEY_ID=$(gpg --list-secret-keys --with-colons | grep 'sec' | tail -n 1 | cut -d':' -f5)
    # Save the key ID to a file
    echo "${KEY_ID}" > "${KEY_ID_FILE}"
    # Save public key to a file
    c gpg --armor --export "${KEY_ID}" > "${GNUPGHOME}/${KEY_ID}.pub"
fi
log_info "GPG key ID: ${KEY_ID}"

log_task "Adding SSH key to GitHub after login"
# {{ if .github.token }}
if command -v gh >/dev/null; then
    log_info "Logging in to GitHub"
    GITHUB_TOKEN="{{ .github.token }}"
    c gh config set -h github.com git_protocol ssh
    echo "${GITHUB_TOKEN}" | gh auth login --with-token
    c gh ssh-key add "${SSH_KEY_FILE}.pub" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}" || true
    c gh gpg-key add "${GNUPGHOME}/${KEY_ID}.pub" || true
else
    log_info "gh is not installed"
fi
# {{ else }}
# {{   if .system.is_interactive }}
if command -v gh >/dev/null; then
    log_info "Logging in to GitHub"
    c gh auth login -h github.com -s admin:public_key -s write:gpg_key
    c gh ssh-key add "${SSH_KEY_FILE}.pub" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}" || true
    c gh gpg-key add "${GNUPGHOME}/${KEY_ID}.pub" || true
else
    log_info "gh is not installed"
fi
# {{   else }}
log_info "GITHUB_TOKEN environment variable is not set."
log_info "Log in manually, and add the SSH key to GitHub."
# {{    end }}
# {{ end }}
log_info "Done adding SSH and GPG keys to GitHub"
# {{ end -}}
