#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_minimum | not) }}
# {{ template "scripts-library" }}
log_task "35. Restoring dotfiles from backup with autorestic"

# {{ if and (.autorestic.enabled) (.autorestic.restore_dotfiles) }}

ensure_path_entry "${HOME}/.local/bin"
# dotfiles-restore hash: {{ include "dot_local/bin/executable_dotfiles-restore.tmpl" | sha256sum }}
dotfiles-restore

# {{ end }}

# {{ end }}
