#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}
# {{ template "scripts-library" }}
log_task "23. Installing python tools"

ensure_path_entry "${HOME}/.local/bin"

# install pipx
if ! pipx --version &>/dev/null; then
  log_task "Installing pipx"
  c /usr/bin/pip3 install --user pipx
fi

# {{ if .python_tools.enabled }}

# install poetry
if ! poetry --version &>/dev/null; then
  log_task "Installing poetry"
  c curl -sSL https://install.python-poetry.org | python3 -
fi

# install poethepoet
if ! command -v poe >/dev/null; then
  if ! command -v pipx >/dev/null; then
    log_task "Installing poethepoet with pipx"
    c pipx install poethepoet
  else
    log_task "Installing poethepoet with pip"
    c /usr/bin/pip3 install poethepoet --user
  fi
fi

# install pre-commit
if ! command -v pre-commit &>/dev/null; then
  log_task "Installing pre-commit"
  c pipx install pre-commit || c /usr/bin/pip3 install --user pre-commit
fi

# install commitizen
if ! command -v cz &>/dev/null; then
  log_task "Installing commitizen"
  # try pipx install commitizen. if it fails, try pip3 install --user commitizen
  c pipx install commitizen || c /usr/bin/pip3 install --user commitizen
fi

# install cz-conventional-gitmoji
if ! command -v gitmojify &>/dev/null; then
  log_task "Installing cz-conventional-gitmoji"
  c pipx install cz-conventional-gitmoji || c /usr/bin/pip3 install --user cz-conventional-gitmoji
fi

# install mypy
if ! command -v dmypy &>/dev/null; then
  log_task "Installing mypy"
  c pipx install mypy || c /usr/bin/pip3 install --user mypy
fi

# install copier
if ! command -v copier &>/dev/null; then
  log_task "Installing copier"
  c pipx install copier || c /usr/bin/pip3 install --user copier
fi

# install nox and nox-poetry
if ! command -v nox &>/dev/null; then
  log_task "Installing nox and nox-poetry"
  if pipx install nox &>/dev/null; then
    c pipx inject nox nox-poetry
  else
    c /usr/bin/pip3 install --user nox nox-poetry
  fi
fi

# {{- end -}}

# {{- end -}}
