#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" -}}

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

# root: /home/yj.lee/workspace
# symlink_colab_workspace: true
# colab_drive: "/content/drive/MyDrive"
WORKSPACE_NAME="{{ .workspace.name }}"
# {{ if .system.is_wsl }}
WORKSPACE_LOCATION="$(wslpath -a "$(wslvar USERPROFILE)")"
if [[ -d "${WORKSPACE_LOCATION}" ]]; then
  WORKSPACE_LOCATION="{{ .workspace.location }}"
fi
# {{ else }}
WORKSPACE_LOCATION="{{ .workspace.location }}"
# {{ end }}
COLAB_DRIVE="{{ .workspace.colab_drive }}"
SYMLINK_COLAB="{{ .workspace.symlink_colab_workspace }}"
WORKSPACE_DIR="${WORKSPACE_LOCATION}/${WORKSPACE_NAME}"
MOVE_EXISTING="{{ .workspace.move_existing }}"
SYMLINK_TO_HOME="{{ .workspace.symlink_to_home }}"
USER="{{ .chezmoi.username }}"
SODOER="{{ .system.is_sudoer }}"

log_task "Creating workspace directory: ${WORKSPACE_DIR}"
if [[ ! -d "${WORKSPACE_DIR}" ]]; then
  if [[ "${SODOER}" == "true" ]]; then
    c sudo mkdir -p "${WORKSPACE_DIR}"
    c sudo chown "${USER}" "${WORKSPACE_DIR}"
  else
    c mkdir -p "${WORKSPACE_DIR}"
  fi
else
  log_info "Workspace directory already exists: ${WORKSPACE_DIR}"
fi

# symlink to home
if [[ "${WORKSPACE_LOCATION}" == "${HOME}" ]]; then
  log_info "Workspace location is home directory: ${WORKSPACE_LOCATION}"
else
  if [[ "${SYMLINK_TO_HOME}" == "true" ]]; then
    log_task "Symlinking workspace to home directory: ${WORKSPACE_DIR} -> ${HOME}/${WORKSPACE_NAME}"
    if [[ -d "${HOME}/${WORKSPACE_NAME}" && ! -L "${HOME}/${WORKSPACE_NAME}" ]]; then
      if [[ "${MOVE_EXISTING}" == "true" ]]; then
        log_task "Moving existing workspace to: ${HOME}/${WORKSPACE_NAME}.bak"
        c mv "${HOME}/${WORKSPACE_NAME}" "${HOME}/${WORKSPACE_NAME}.bak"
      else
        log_error "Workspace already exists: ${HOME}/${WORKSPACE_NAME}"
        exit 1
      fi
    fi
    if [[ ! -L "${HOME}/${WORKSPACE_NAME}" ]]; then
      c ln -s "${WORKSPACE_DIR}" "${HOME}/${WORKSPACE_NAME}"
    else
      log_info "Workspace already exists: ${HOME}/${WORKSPACE_NAME}"
      log_task "Removing existing symlink: ${HOME}/${WORKSPACE_NAME}"
      c rm "${HOME}/${WORKSPACE_NAME}"
      log_task "Creating new symlink: ${HOME}/${WORKSPACE_NAME}"
      c ln -s "${WORKSPACE_DIR}" "${HOME}/${WORKSPACE_NAME}"
    fi
  fi
fi

# symlink colab workspace
COLAB_WORKSPACE="${COLAB_DRIVE}/${WORKSPACE_NAME}"

if [[ "${SYMLINK_COLAB}" == "true" ]]; then
  log_task "Symlinking colab workspace: ${COLAB_WORKSPACE}"
  if [[ ! -d "${COLAB_DRIVE}" ]]; then
    c sudo mkdir -p "${COLAB_DRIVE}"
    c sudo chown "${USER}" "${COLAB_DRIVE}"
  fi
  # if synmlink already exists, remove it
  if [[ ! -L "${COLAB_WORKSPACE}" ]]; then
    c ln -s "${WORKSPACE_DIR}" "${COLAB_WORKSPACE}"
  else
    log_info "Colab workspace already exists: ${COLAB_WORKSPACE}"
  fi
fi

# clone git repos into workspace/projects
c mkdir -p "${WORKSPACE_DIR}/projects"
# {{ range .git_repos }}
log_task "Cloning git repo: {{ .name }}"
if [[ -d "${WORKSPACE_DIR}/projects/{{- .name -}}" ]]; then
  log_info "Git repo already exists: {{ .name }}"
else
  c git clone "{{ .url -}}" "${WORKSPACE_DIR}/projects/{{- .name -}}"
fi
# {{ end }}
log_task "Symlink dotfiles to workspace/projects/dotfiles"
if [[ ! -L "${WORKSPACE_DIR}/projects/dotfiles" ]]; then
  c ln -s "{{- .chezmoi.workingTree -}}" "${WORKSPACE_DIR}/projects/dotfiles"
else
  log_info "Dotfiles already symlinked to workspace"
fi

# {{ end -}}
