#!/bin/bash
# {{ if and (eq .chezmoi.os "linux") (.system.is_sudoer) (.system.is_devcontainer | not) }}
# {{ template "scripts-library" }}
log_task "010. Upgrading ca-certificates"

# We need to install ca-certificates before we add the APT repos, because some of them
# may use newer CAs.
# Ignore apt update error if it is due to expired certificate (because chances are that
# the next command will fix it.
if output="$(c sudo apt update --yes)" || [[ "${output}" == *"The certificate chain uses expired certificate."* ]]; then
  echo "${output}"
  true
else
  echo "${output}"
  exit 1
fi
c sudo apt install --yes -qq -o=Dpkg::Use-Pty=0 --no-install-recommends ca-certificates

# {{ end }}
