#!/bin/bash
# {{ if eq .chezmoi.os "darwin" }}
# {{ template "scripts-library" }}
log_task "00. Installing packages for macOS"

# dotfiles-install-brew-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-brew-pkgs.tmpl" | sha256sum }}
"${HOME}/.local/bin/dotfiles-install-brew-pkgs"

# {{ end -}}
