#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_sudoer) (.system.is_minimum | not) }}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

ensure_path_entry "${HOME}/.local/bin"

# install syncthing if not installed
if ! command -v syncthing >/dev/null; then
  log_task "Installing syncthing"
  c webi syncthing 
fi

# {{ end }}
