#!/bin/bash
# shellcheck source=/dev/null
source "${HOME}/.config/shrc/00-dotfiles-export"
# user package list
# {{- $user_pkgs := list "" }}{{- if (hasKey . "install_packages") -}}{{ $user_pkgs = splitList " " .install_packages.user }}{{ end }}
# {{- if and (eq .chezmoi.os "linux") (.system.apply_rootmoi) (.system.is_sudoer) }}
# {{ range .packages }}{{ if and (hasKey . "apt") ( .apt ) ( has .name $user_pkgs ) }}{{- .name }} {{ end }}{{ end }}
# {{ range .packages }}{{ if and (hasKey . "apt") ( .apt ) }}{{- .name }} {{ end }}{{ end }}
# dotfiles-install-apt-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-apt-pkgs.tmpl" | sha256sum }}
dotfiles-install-apt-pkgs
# {{- end }}
# {{- if eq .chezmoi.os "darwin" }}
# {{ range .packages }}{{ if and (hasKey . "brew") ( .brew ) ( has .name $user_pkgs ) }}{{- .name }} {{ end }}{{ end }}
# {{ range .packages }}{{ if and (hasKey . "brew") ( .brew ) }}{{- .name }} {{ end }}{{ end -}}
# {{ range .packages }}{{ if and (hasKey . "brewcask") ( .brewcask ) ( has .name $user_pkgs ) }}{{- .name }} {{ end }}{{ end }}
# {{ range .packages }}{{ if and (hasKey . "brewcask") ( .brewcask ) }}{{- .name }} {{ end }}{{ end }}
# dotfiles-install-brew-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-brew-pkgs.tmpl" | sha256sum }}
dotfiles-install-brew-pkgs
# {{- end }}
