#!/bin/bash
# {{- if and (eq .chezmoi.os "linux") (.system.apply_rootmoi) (.system.is_sudoer) (not .system.is_devcontainer) }}
# shellcheck source=/dev/null
source "${HOME}/.config/shrc/00-dotfiles-export"
# dotfiles-apply-rootmoi hash: {{ include "dot_local/bin/executable_dotfiles-apply-rootmoi.tmpl" | sha256sum }}
dotfiles-apply-rootmoi
# {{- end }}
