#!/bin/bash
# {{ if and (eq .chezmoi.os "linux") .system.is_sudoer }}
# {{ template "scripts-library" }}
log_task "00. Installing packages for Linux"

ensure_path_entry "${HOME}/.local/bin"
# package list
# {{- if (hasKey . "install_packages") -}}
#  {{ .install_packages.user  }}
# {{- end }}
# .chezmoidata.yaml hash: {{ include ".chezmoidata.yaml" | sha256sum }}
# dotfiles-install-apt-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-apt-pkgs.tmpl" | sha256sum }}
dotfiles-install-apt-pkgs

# {{ end -}}
