#!/bin/bash
# {{ if eq .chezmoi.os "darwin" }}
# {{ template "scripts-library" }}
log_task "90. Installing Homebrew from bundle"

# brew-install-bundle hash: {{ include "dot_local/bin/executable_brew-install-bundle.tmpl" | sha256sum }}
"${HOME}/.local/bin/brew-install-bundle"

# {{ end -}}
