#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_minimum | not) }}

# {{ if and (.autorestic.enabled) (.autorestic.backup_dotfiles) }}

# {{ template "homebrew-library" }}

ensure_path_entry "${HOME}/.local/bin"

# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-backup"

# {{ end }}

# {{ end }}
