#!/bin/bash
# {{ if eq .chezmoi.os "darwin" -}}

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

readonly wanted_packages=(
  gh
  dotdrop
)
missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! command -v "${package}" >/dev/null; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with brew: ${missing_packages[*]}"

  brew_command=(brew)

  c "${brew_command[@]}" update
  c "${brew_command[@]}" install "${missing_packages[@]}"
fi

# {{ end -}}
