#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_minimum | not) }}
# {{ template "scripts-library" }}
log_task "35. Restoring dotfiles from backup with autorestic"

# {{ if and (.autorestic.enabled) (.autorestic.restore_dotfiles) }}

"${HOME}/.local/bin/dotfiles-restore"

# {{ end }}

# {{ end }}
