#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}
# {{ template "scripts-library" }}
log_task "Authenticating with GitHub"

# {{ if .system.is_interactive }}
"${HOME}/.local/bin/github-auth" --interactive
# {{ else }}
"${HOME}/.local/bin/github-auth"
# {{ end }}

# {{ end -}}
