#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ template "scripts-library" }}

ensure_path_entry "${HOME}/.local/bin"

# before generating SSH keys, you can install them from the dotdrop repository
# {{ if .dotdrop.enabled }}

# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-dotdrop"

# {{ end }}

# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-ssh"

# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-age"

# {{ if .system.is_interactive }}
# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-gpg" --interactive
# {{ else }}
# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-gpg"
# {{ end }}

# shellcheck source=/dev/null
source "${HOME}/.local/bin/dotfiles-setup-github-keys"

log_info "Done setting up SSH, AGE, and GPG keys"

# {{ end -}}
