#!/bin/bash
# {{ template "scripts-library" }}
log_green "✅ Dotfiles installation finished successfully"

# {{ if .system.is_gnome }}
log_info "If this is your first time running this script, you need to relogin to your desktop environment."
# {{ end }}
log_info "If you want to reload your shell, run:"
log_c exec zsh
