#!/bin/bash
# {{ if .system.use_dotdrop -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

log_task "✅ Install dotfiles with dotdrop"
# install dotfiles if dotdrop is installed
# check ${HOME}/.local/bin first
if test -f "${HOME}/.local/bin/dotdrop"; then
    log_c "${HOME}/.local/bin/dotdrop" "install --profile={{ .dotdrop.user_profile }}"
    ~/.local/bin/dotdrop install --cfg="${HOME}/.config/dotdrop/config-user.yaml" --profile="{{- .dotdrop.user_profile }}"
elif test "$(which dotdrop)"; then
    log_c "dotdrop" "install --profile={{ .dotdrop.user_profile }}"
    dotdrop install --cfg="${HOME}/.config/dotdrop/config-user.yaml" --profile="{{- .dotdrop.user_profile }}"
else
    log_c "dotdrop" "not installed"
fi

# {{ end -}}
