#!/bin/bash
# shellcheck source=/dev/null
source "${HOME}/.config/shrc/00-dotfiles-export"
# user package list
# {{- if (hasKey . "install_packages") -}}
#  {{ .install_packages.user  }}
# {{- end }}
# {{ range .packages }}{{ if and (hasKey . "script") ( .script ) }}{{- .name }} {{ end }}{{ end -}}
# {{ range .packages }}{{ if and (hasKey . "webi") ( .webi ) }}{{- .name }} {{ end }}{{ end -}}
# {{ range .packages }}{{ if and (hasKey . "go") ( .go ) }}{{- .name }} {{ end }}{{ end -}}
# dotfiles-install-script-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-script-pkgs.tmpl" | sha256sum }}
dotfiles-install-script-pkgs
# {{ range .packages }}{{ if and (hasKey . "pip") ( .pip ) }}{{- .name }} {{ end }}{{ end -}}
# {{ range .packages }}{{ if and (hasKey . "pipx") ( .pipx ) }}{{- .name }} {{ end }}{{ end }}
# dotfiles-install-python-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-python-pkgs.tmpl" | sha256sum }}
dotfiles-install-python-pkgs
# {{ range .packages }}{{ if and (hasKey . "snap") ( .snap ) }}{{- .name }} {{ end }}{{ end }}
# dotfiles-install-snap-pkgs hash: {{ include "dot_local/bin/executable_dotfiles-install-snap-pkgs.tmpl" | sha256sum }}
dotfiles-install-snap-pkgs
