#!/bin/bash

# {{ if eq .chezmoi.os "linux" -}}
# {{ if eq .chezmoi.username "root" }}
chsh -s "$(which zsh)"
# {{ else }}
sudo chsh -s "$(which zsh)"
# {{ end }}

# {{ else if eq .chezmoi.os "darwin" -}}
chsh -s "$(which zsh)"
# {{ end -}}
