#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}
# {{ template "scripts-library" }}
log_task "25. Installing minimum packages"

ensure_path_entry "${HOME}/.local/bin"

# install go
if ! go version &>/dev/null; then
  export GOROOT="${HOME}/go"
  export GOPATH="${GOROOT}/packages"
  ensure_path_entry "${GOROOT}/bin"

  if ! go version &>/dev/null; then
    log_task "Installing go"
    c wget -qO - https://dotfiles.entelecheia.cc/install-go | bash
  fi
fi

# install age
if ! age --version &>/dev/null; then
  log_task "Installing age"
  c go install filippo.io/age/cmd/...@latest
fi

# install sops
if ! sops --version &>/dev/null; then
  log_task "Installing sops"
  c go install go.mozilla.org/sops/v3/cmd/sops@latest
fi

# install pipx
if ! pipx --version &>/dev/null; then
  log_task "Installing pipx"
  c /usr/bin/pip3 install --user pipx
fi

# install poetry
if ! poetry --version &>/dev/null; then
  log_task "Installing poetry"
  c curl -sSL https://install.python-poetry.org | python3 -
fi

# install task
# if ! command -v task &>/dev/null; then
#   log_task "Installing task"
#   c sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin
#   # c curl -sS https://install.doctor/task | bash -s -- -b ~/.local/bin
# fi

# install commitizen
if ! command -v cz &>/dev/null; then
  log_task "Installing commitizen"
  c /usr/bin/pip3 install --user commitizen
fi

# install cz-conventional-gitmoji
if ! command -v gitmojify &>/dev/null; then
  log_task "Installing cz-conventional-gitmoji"
  c pipx install cz-conventional-gitmoji
fi

# {{- end -}}
