#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

# Check if we have a GitHub SSH key
# If not, generate one and add it to GitHub
SSH_KEY_FILE="${HOME}/.ssh/{{ .ssh.key_filename }}"
HOST="{{ .system.hostname }}"
USER="{{ .chezmoi.username }}"
ALGORITHM="{{ .ssh.algorithm }}"
DATESTAMP=$(date +'%y.%m.%d')
if [ ! -f "${SSH_KEY_FILE}" ]; then
    log_task "Generating SSH key"
    ssh-keygen -t "${ALGORITHM}" -C "${USER}@${HOST}" -f "${SSH_KEY_FILE}" -N ""
fi

log_task "Adding SSH key to GitHub after login"
# {{ if .github.token }}
if command -v gh >/dev/null; then
    GITHUB_TOKEN="{{ .github.token }}"
    c gh config set -h github.com git_protocol ssh
    echo "${GITHUB_TOKEN}" | gh auth login --with-token
    c gh ssh-key add "${SSH_KEY_FILE}.pub" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}"
else
    log_info "gh is not installed"
fi
# {{ else }}
# {{   if .system.is_interactive }}
if command -v gh >/dev/null; then
    c gh auth login -h github.com -s admin:public_key
    c gh ssh-key add "${SSH_KEY_FILE}.pub" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}"
else
    log_info "gh is not installed"
fi
# {{   else }}
log_info "GITHUB_TOKEN environment variable is not set."
log_info "Log in manually, and add the SSH key to GitHub."
# {{    end }}
# {{ end }}

# {{ end -}}
