#!/bin/bash
# {{ template "scripts-library" }}
log_green "✅ Dotfiles installation finished successfully"

# {{ if .system.is_gnome }}
log_info "If this is a first time installation, please logout and log back in" "to get started. You can temporarily preview the changes by running:"
# {{ else }}
log_info "If this is a first time installation, get started by running:"
# {{ end }}
log_c "exec zsh"
