#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

SSH_HOME="${HOME}/.ssh"
if [ ! -d "${SSH_HOME}" ]; then
    log_task "Creating ${SSH_HOME}"
    mkdir "${SSH_HOME}"
fi

# Check if we have a GitHub SSH key
# If not, generate one and add it to GitHub
SSH_KEY_FILE="${HOME}/.ssh/{{ .ssh.key_filename }}"
SSH_PUB_KEY_FILE="${SSH_KEY_FILE}.pub"
HOST="{{ .system.hostname }}"
USER="{{ .chezmoi.username }}"
ALGORITHM="{{ .ssh.algorithm }}"
DATESTAMP=$(date +'%y.%m.%d')
if [ ! -f "${SSH_KEY_FILE}" ]; then
    log_task "Generating SSH key"
    ssh-keygen -t "${ALGORITHM}" -C "${USER}@${HOST}" -f "${SSH_KEY_FILE}" -N ""
fi
# {{ if eq .chezmoi.os "darwin" }}
# Add SSH key to macOS keychain
log_task "Adding SSH key to macOS keychain"
c ssh-add --apple-use-keychain "${SSH_KEY_FILE}"
# {{ end }}

# Symlink authorized_keys from .config/ssh to ~/.ssh
# If the file exists, remove the file
log_task "Symlinking authorized_keys"
if [ -f "${HOME}/.ssh/authorized_keys" ]; then
    log_task "Removing existing authorized_keys"
    rm "${HOME}/.ssh/authorized_keys"
fi
# check if symlink exists, if not, create it
if [ ! -L "${HOME}/.ssh/authorized_keys" ]; then
    ln -s "${HOME}/.config/ssh/authorized_keys" "${HOME}/.ssh/authorized_keys"
fi

# copy gitconfig from .config/git/gitconfig to .gitconfig
cp "${HOME}/.config/git/gitconfig" "${HOME}/.gitconfig"

GPGSIGN="{{ .gnupg.gitsign }}"
# add ssh key to gitconfig for signing commits
if [ -f "${SSH_PUB_KEY_FILE}" ]; then 
    SSH_KEY_ID=$(cat "${SSH_PUB_KEY_FILE}")
fi
if [ -n "${SSH_KEY_ID}" ]; then
    log_task "Adding SSH key to gitconfig for signing commits"
    c git config --global user.signingkey "${SSH_KEY_ID}"
    if [[ "${GPGSIGN}" == "true" ]]; then
        c git config --global gpg.format ssh
        c git config --global commit.gpgsign true
    fi
fi
# if you need to use allowed_signers, 
# refer to https://janik6n.net/signing-git-commits-with-ssh-key

# set eviroment variable GNUPGHOME to ~/.gnupg if not set
GNUPGHOME=${GNUPGHOME:-$HOME/.gnupg}
export GNUPGHOME="${GNUPGHOME}"
GPG_KEY_ID_FILE="${GNUPGHOME}/.key_id"
GPG_KEY_ID="{{ .gnupg.key_id }}"

if [ -z "${GPG_KEY_ID}" ] && [ -f "${GPG_KEY_ID_FILE}" ]; then 
    GPG_KEY_ID=$(cat "${GPG_KEY_ID_FILE}")
fi
# if GPG_KEY_ID is not empty, check if it is a valid key ID
if [ -n "${GPG_KEY_ID}" ]; then
    GPG_KEY_ID=$(gpg --list-secret-keys --with-colons | grep 'sec' | grep "${GPG_KEY_ID}" | cut -d':' -f5)
fi

# {{ if .gnupg.passphrase }}
# Create a batch file
if [ -z "${GPG_KEY_ID}" ]; then
    log_task "Generating GPG key"

    # Generate a GPG key
    # https://www.gnupg.org/documentation/manuals/gnupg/Unattended-GPG-key-generation.html
    cat > .tmp_gpg_batch <<EOF
        %echo Generating a basic OpenPGP key
        Key-Type: EDDSA
        Key-Length: 1024
        Key-Curve: ed25519
        Subkey-Type: ECDH
        Subkey-Curve: cv25519
        Name-Real: {{ .name }}
        Name-Comment: generated by chezmoi
        Name-Email: {{ .email }}
        Expire-Date: 0
        Passphrase: {{ .gnupg.passphrase }}
        # Do a commit here, so that we can later print "done" :-)
        %commit
        %echo done
EOF
    c gpg --batch --generate-key .tmp_gpg_batch
    rm .tmp_gpg_batch
    GPG_KEY_ID=$(gpg --list-secret-keys --with-colons | grep 'sec' | tail -n 1 | cut -d':' -f5)
    # Save the key ID to a file
    echo "${GPG_KEY_ID}" > "${GPG_KEY_ID_FILE}"
    # Save public key to a file
    c gpg --armor --export "${GPG_KEY_ID}" > "${GNUPGHOME}/${GPG_KEY_ID}.pub"
fi
# {{ end }}

log_info "GPG key ID: ${GPG_KEY_ID}"
# add gpg key to gitconfig
# if [ -n "${GPG_KEY_ID}" ]; then
#     log_task "Adding GPG key to gitconfig"
#     c git config --global user.signingkey "${GPG_KEY_ID}"
#     if [[ "${GPGSIGN}" == "true" ]]; then
#         c git config --global commit.gpgsign true
#     fi
# fi

# "Adding SSH & GPG keys to GitHub after login"
PUB_SSH_KEY_FILE="${SSH_KEY_FILE}.pub"
GPG_PUB_KEY_FILE="${GNUPGHOME}/${GPG_KEY_ID}.pub"

# {{ if .github.username }}
# {{ if .github.token }}
if command -v gh >/dev/null; then
    log_info "Logging in to GitHub"
    GITHUB_TOKEN="{{ .github.token }}"
    c gh config set -h github.com git_protocol ssh
    echo "${GITHUB_TOKEN}" | gh auth login --with-token
    # git credention setup
    c gh auth setup-git
    if [ -f "${PUB_SSH_KEY_FILE}" ]; then
        log_task "Adding SSH key to GitHub"
        c gh ssh-key add "${PUB_SSH_KEY_FILE}" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}" || true
    fi
    # if [ -f "${GPG_PUB_KEY_FILE}" ]; then
    #     log_task "Adding GPG key to GitHub"
    #     c gh gpg-key add "${GPG_PUB_KEY_FILE}" || true
    # fi
else
    log_info "gh is not installed"
fi
# {{ else }}
# {{   if .system.is_interactive }}
if command -v gh >/dev/null; then
    log_info "Logging in to GitHub"
    c gh auth login -h github.com -s admin:public_key -s write:gpg_key
    # git credention setup
    c gh auth setup-git
    if [ -f "${PUB_SSH_KEY_FILE}" ]; then
        log_task "Adding SSH key to GitHub"
        c gh ssh-key add "${PUB_SSH_KEY_FILE}" --title "${USER}@${HOST} ${ALGORITHM} ${DATESTAMP}" || true
    fi
    # if [ -f "${GPG_PUB_KEY_FILE}" ]; then
    #     log_task "Adding GPG key to GitHub"
    #     c gh gpg-key add "${GPG_PUB_KEY_FILE}" || true
    # fi
else
    log_info "gh is not installed"
fi
# {{   else }}
log_manual_action "GITHUB_TOKEN environment variable is not set."
log_manual_action "Log in manually, and add the SSH key to GitHub."
# {{    end }}
log_manual_action "If you want to add SSH key to GitHub for signing commits (github-cli does not support this yet), visit the following URL: "
log_manual_action " > https://github.com/settings/ssh/new"
if [ -f "${GPG_PUB_KEY_FILE}" ]; then
    log_manual_action "If you want to add GPG key to GitHub for signing commits, run the following: "
    log_manual_action " > gh gpg-key add ${GPG_PUB_KEY_FILE}"
fi

# {{ end }}
log_info "Done adding SSH and GPG keys to GitHub"
# {{ end -}}
# {{ end -}}
