#!/bin/bash
# {{ if eq .chezmoi.os "darwin" "linux" -}}

# shellcheck source=/dev/null
source "${HOME}/.local/bin/pass-init"

# shellcheck source=/dev/null
source "${HOME}/.local/bin/passage-init"

# {{ end -}}
