#!/bin/bash
# shellcheck source=/dev/null
source "${HOME}/.config/shrc/00-dotfiles-export"
# dotfiles-final-message hash: {{ include "dot_local/bin/executable_dotfiles-final-message.tmpl" | sha256sum }}
dotfiles-final-message
