#!/bin/bash
# {{ if and (eq .chezmoi.os "linux" "darwin") (.system.is_minimum | not) }}
# {{ template "scripts-library" }}
# {{ $cache := dict "chezmoi" .chezmoi }}
# {{ template "read-versions-and-revisions-cache" $cache }}
log_task "25. Installing optional packages"

ensure_path_entry "${HOME}/.local/bin"

# install webi if not installed
if ! command -v webi >/dev/null; then
  log_task "Installing webi"
  c curl https://webi.sh/webi | sh
fi

# install serviceman if not installed
if ! command -v serviceman >/dev/null; then
  log_task "Installing serviceman"
  c webi serviceman
fi

# install mutagen
# if ! command -v mutagen >/dev/null; then
#   log_task "Installing mutagen"
#   c webi mutagen@stable
# fi
# install mutagen-compose from the archive:
# if ! command -v mutagen-compose >/dev/null; then
#   log_task "Installing mutagen-compose"
#   version="{{ template "get-github-latest-version" list "mutagen-io/mutagen-compose" $cache }}"
#   archive_url="https://github.com/mutagen-io/mutagen-compose/releases/download/v${version}/mutagen-compose_{{ .chezmoi.os }}_{{ .chezmoi.arch }}_v${version}.tar.gz"
#   c curl -L "${archive_url}" | tar -xz -C "${HOME}/.local/bin"
# fi

# install syncthing if not installed
# if ! command -v syncthing >/dev/null; then
#   log_task "Installing syncthing"
#   c webi syncthing
# fi

# install dotdrop if not installed
if ! command -v dotdrop >/dev/null; then
  log_task "Install dotdrop with pip3"
  if pip3 list | grep -q wheel; then
    log_task "wheel already installed"
  else
    log_task "Installing wheel"
    c /usr/bin/pip3 install wheel
  fi
  c /usr/bin/pip3 install dotdrop --user
  # Add ~/.local/bin to PATH in order to use dotdrop before finishing the installation
fi

# install rust
if ! rustc --version &>/dev/null; then
  log_task "Installing rust"
  c curl https://sh.rustup.rs -sSf | sh -s -- -y --profile=minimal
fi

# install sdkman
if ! command -v sdk >/dev/null; then
  log_task "Installing sdkman"
  c curl -s "https://get.sdkman.io" | bash
fi

# install git-workspace
# if ! git workspace --version &>/dev/null; then
#   log_task "Installing git-workspace"
#   url="https://github.com/orf/git-workspace/releases/download/v{{- template "get-github-latest-version" list "orf/git-workspace" $cache -}}/git-workspace-{{- .chezmoi.os | title -}}-x86_64.tar.gz"
#   c curl -L "${url}" | tar -xz -C "${HOME}/.local/bin" && chmod +x "${HOME}/.local/bin/git-workspace"
# fi

# {{- end -}}
