#!/bin/bash
# {{ if and (eq .chezmoi.os "linux") (.system.apply_rootmoi) (.system.is_sudoer) -}}
# {{ template "scripts-library" }}
log_task "20. Running rootmoi"

# shellcheck disable=all
original_args=({{ range (rest .chezmoi.args) }} {{ . | quote }}{{ end }})
args=(apply)
diff_args=(diff)

# Filter incompatible args
skip_one_more=false
remove_apply=false
for i in "${!original_args[@]}"; do
  if [[ "${skip_one_more}" == true ]]; then
    skip_one_more=false
    continue
  fi

  if [[ "${original_args[i]}" == "-S" || "${original_args[i]}" == "--source" ]]; then
    skip_one_more=true
    continue
  fi

  if [[ "${original_args[i]}" == "-S="* || "${original_args[i]}" == "--source="* ]]; then
    continue
  fi

  # We will always apply, so we don't need any --apply flags
  if [[ "${original_args[i]}" == "-a" || "${original_args[i]}" == "-a="* || "${original_args[i]}" == "--apply" || "${original_args[i]}" == "--apply="* ]]; then
    continue
  fi

  # --init never makes sense, because rootmoi's configuration is handled by chezmoi earlier
  if [[ "${original_args[i]}" == "--init" ]]; then
    continue
  fi

  # Remove any positional args, as we will always use apply
  if [[ "${original_args[i]}" != "-"* ]]; then
    continue
  fi

  args+=("${original_args[i]}")
  diff_args+=("${original_args[i]}")
done

# .config/rootmoi/.rootmoiversion hash: {{ include "dot_config/rootmoi/dot_rootmoiversion" | sha256sum }}
ROOTMOI_VERSION=$(cat "${HOME}/.config/rootmoi/.rootmoiversion")
ROOTMOI='{{ joinPath .chezmoi.homeDir ".local/bin/rootmoi" }}'
log_task "Applying root dotfiles with rootmoi (version ${ROOTMOI_VERSION})"
log_c "rootmoi" "${args[@]}"
exec "${ROOTMOI}" "${args[@]}"

# {{ end -}}
