#!/bin/bash
# {{ if .system.is_interactive }}
# {{ template "scripts-library" }}
log_task "60. Login to Docker Hub"

# docker-login hash: {{ include "dot_local/bin/executable_docker-login.tmpl" | sha256sum }}
"${HOME}/.local/bin/docker-login"

# {{ end }}
