#!/bin/bash
# {{ if .system.is_interactive }}
# {{ template "scripts-library" }}
log_task "60. Login to Docker Hub"

ensure_path_entry "${HOME}/.local/bin"

# docker-login hash: {{ include "dot_local/bin/executable_dk-login.tmpl" | sha256sum }}
dk-login

# {{ end }}
