#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}
# {{ template "scripts-library" }}
log_task "40. Setting up SSH, AGE, and GPG keys"

GITHUB_USERNAME=${GITHUB_USERNAME:-"{{ .github.username }}"}
GITHUB_TOKEN=${GITHUB_TOKEN:-"{{ .github.token }}"}
export GITHUB_USERNAME
export GITHUB_TOKEN

ensure_path_entry "${HOME}/.local/bin"
# before generating SSH keys, you can install them from the dotdrop repository
# {{ if .dotdrop.enabled }}

# dotfiles-setup-dotdrop hash: {{ include "dot_local/bin/executable_dotfiles-setup-dotdrop.tmpl" | sha256sum }}
# shellcheck source=/dev/null
dotfiles-setup-dotdrop

# {{ end }}

# dotfiles-setup-ssh hash: {{ include "dot_local/bin/executable_dotfiles-setup-ssh.tmpl" | sha256sum }}
# shellcheck source=/dev/null
dotfiles-setup-ssh

# dotfiles-setup-age hash: {{ include "dot_local/bin/executable_dotfiles-setup-age.tmpl" | sha256sum }}
# shellcheck source=/dev/null
dotfiles-setup-age

export GPG_PASSPHRASE="{{ .gnupg.passphrase }}"
# dotfiles-setup-gpg hash: {{ include "dot_local/bin/executable_dotfiles-setup-gpg.tmpl" | sha256sum }}
# shellcheck source=/dev/null
dotfiles-setup-gpg

# dotfiles-setup-github-keys hash: {{ include "dot_local/bin/executable_dotfiles-setup-github-keys.tmpl" | sha256sum }}
# shellcheck source=/dev/null
dotfiles-setup-github-keys

log_info "Done setting up SSH, AGE, and GPG keys ✨ 🌟 ✨"

# {{ end -}}
