#!/bin/bash
# {{ if eq .chezmoi.os "darwin" -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

# .config/brew/brewfile hash: {{ include "dot_config/brew/brewfile.tmpl" | sha256sum }}
BREWFILE="${HOME}/.config/brew/brewfile"

if [[ -f "${BREWFILE}" ]]; then
  log_task "Installing packages from Brewfile"

  c brew bundle --file="${BREWFILE}" --no-lock --no-upgrade --verbose

fi

# {{ end -}}
