#!/bin/bash
# {{ if eq .chezmoi.os "linux" "darwin" }}

# {{ template "scripts-library" }}

# install passage if not installed
if ! command -v passage >/dev/null; then
    PASSAGE_SHARE_DIR="{{ .passage.share_dir }}"
    PASSAGE_SHARE_REPO="{{ .passage.share_repo }}"
    if [ ! -d "${PASSAGE_SHARE_DIR}" ]; then
        log_task "Cloning ${PASSAGE_SHARE_REPO}"
        c git clone "${PASSAGE_SHARE_REPO}" "${PASSAGE_SHARE_DIR}"
    fi
    log_task "Installing passage"
    c cd "${PASSAGE_SHARE_DIR}"
    c make install PREFIX="${HOME}/.local" WITH_ZSHCOMP="yes"
fi

# {{ end }}
