#!/bin/bash
# shellcheck source=/dev/null
source "${HOME}/.config/shrc/00-dotfiles-export"
# dotfiles-initialize-zsh hash: {{ include "dot_local/bin/executable_dotfiles-initialize-zsh.tmpl" | sha256sum }}
dotfiles-initialize-zsh
