#!/bin/bash

set -euo pipefail

jq=(jq --raw-output --tab)
json=$(cat /dev/stdin)

if [[ -z "${json}" ]]; then
  json='{}'
fi

# {{ if .system.is_wsl }}
json=$("${jq[@]}" '.credsStore = "wincred.exe"' <<<"${json}")
# {{ else if .system.is_gnome }}
json=$("${jq[@]}" '.credsStore = "secretservice"' <<<"${json}")
# {{ else if eq .chezmoi.os "darwin" }}
json=$("${jq[@]}" '.credsStore = "osxkeychain"' <<<"${json}")
# {{ else }}
json=$("${jq[@]}" '.credsStore = ""' <<<"${json}")
# {{ end }}

echo -n "${json}"
