#!/bin/bash

set -euo pipefail

# read authorized_keys from stdin
keys=$(cat /dev/stdin)

# if authorized_keys is empty, set it to empty string
if [[ -z "${keys}" ]]; then
  keys="# list of authorized keys for the user"
fi

# remove empty lines
keys=$(echo -e "${keys}" | sed '/^$/d')

# remove duplicate lines
keys=$(echo -e "${keys}" | sort -u)

echo -e "${keys}"
