#!/bin/bash

# Enable poe zsh completions
if ! command -v poe &>/dev/null; then
  mkdir -p ~/.oh-my-zsh/completions
  poe _zsh_completion > ~/.oh-my-zsh/completions/_poe
fi

# Enable homebrew zsh completions
if (( ${+commands[brew]} )); then
  fpath+="$(brew --prefix)/share/zsh/site-functions"
fi
if [[ -d "${HOME}/.local/share/zsh/site-functions" ]]; then
  fpath+="${HOME}/.local/share/zsh/site-functions"
fi
compinit
