#!/bin/bash
if [ -d "${HOME}/.local/bin" ]; then
  export PATH="${HOME}/.local/bin:${PATH}"
fi
# {{ if eq .chezmoi.os "darwin" }}
if [ -d "/opt/homebrew/bin" ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
# {{ end }}

export DOTFILES_AUTO_UPDATE="{{ .system.auto_update }}"
export USER_FULLNAME="{{ .name }}"
export USER_EMAIL="{{ .email }}"
export SYSTEM_HOSTNAME="{{ .system.hostname }}"
export APPLY_ROOTMOI="{{ .system.apply_rootmoi }}"
export DOTFILES_VERBOSE="{{ .system.verbose }}"
export DOTFILES_USE_DOTDROP="{{ .system.use_dotdrop }}"
export DOTDROP_USER_PROFILE="{{ .dotdrop.user_profile }}"
export GITHUB_USERNAME="{{ .github.username }}"
export DOCKER_USERNAME="{{ .docker.username }}"
export WORKSPACE_LOCATION="{{ .workspace.location }}"
export WORKSPACE_ROOT="{{ .workspace.root }}"

# auto-update dotfiles
if [ "${DOTFILES_AUTO_UPDATE}" = "true" ]; then
  if [ -x "${HOME}/.local/bin/dotu" ]; then
    "${HOME}/.local/bin/dotu" --force
  fi
fi
